/node_modules
/bootstrap
/config
/database
/laravel
/tests
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.ftpquota
.htaccess
access_log
artisan
composer.json
composer.lock
error.log
error_log
index.php
mix-manifest.json
package-lock.json
package.json
php info.php
phpunit.xml
robots.txt
server.php
web.config
webpack.mix.js
